body, html {
  height: 100%;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 18px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header{
  height: 80px;
  background-color: #222
}
.contents{
  height: 700px;
  width: 960px;
  margin: 0 auto;
  background-color: green
}
.box1{
  height: 400px;
  width: 430px;
  background-color: blue;
  float: left;
  opacity: 0.5;
}

.box2{
  height: 300px;
  width: 330px;
  background-color: gray;
  float: right;
  opacity: 0.5;

}

.box3{
  height: 60px;
  background-color: red;
  clear: both;
}

footer{
  height: 80px;
  background-color: #222
}
.clearfix:after{
  content:"";
  clear:both;
  display: block;
}